@import '../globals';


@function get-vw($fontSize, $vw-viewport){
    $vw-context: $vw-viewport * 0.01 * 1px;
    @return $fontSize / $vw-context * 1vw;
    @return $fontSize;
}



@media screen and (max-width:650px){


    .section__start {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        color: #000000;
        .hero-bg {
            position: absolute;
            z-index: -1;
        }
        .hero {
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-direction: row-reverse; 
            flex-direction: column-reverse; 
            &__img {
                width: 20rem;
                height: 20.5rem;
                margin-left: 1rem;
                margin-top: 1rem;
            }
            &__body {
                display: flex;
                flex-direction: column;
                align-items: start;
                row-gap: 1rem;
                max-width: 21.4rem;
                margin-top: 3rem;
            }
        
            &__test {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 5.5rem;
                height: 2.1rem;
        
                text-transform: uppercase;
                font-size: 1rem;
                color: var(--color-grean);
                font-weight: 400;
                border: 0.12rem solid var(--color-grean);
                border-radius: 21rem;
                
            }   
        
            &__title {
                width: 18rem;
                font-size: 1.3rem;
                font-weight: 500;
            }

            &__description {
                width: 18rem;
                font-size: 0.7rem;
                p:where(:not([class]):not(:last-child)) {
                    margin-bottom: 0.7rem;
                }
            }
            .button__grean {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background: var(--color-grean);
                color: var(--color-ligth);
                border: none;
                cursor: pointer;
                min-width: 14rem;
                height: 1.8rem;
                transition: var(--transition-duration);
                border-radius: 1.8rem;
                font-size: 0.8rem;
            }
        }  
        .container {
            width: 22rem; 
        }
    }


}