@import '../globals';


@function get-vw($fontSize, $vw-viewport){
    $vw-context: $vw-viewport * 0.01 * 1px;
    @return $fontSize / $vw-context * 1vw;
    @return $fontSize;
}



@media screen and (max-width:650px){


    .section__start {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        color: #000000;
        .hero-bg {
            position: absolute;
            z-index: -1;
        }
        .hero {
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-direction: row-reverse; 
            flex-direction: column-reverse; 
            &__img {
                width: get-vw(180px, 320);
                height: get-vw(183px, 320);
                margin-left: get-vw(60px, 320);
                margin-top: get-vw(15px, 320);
            }
            &__body {
                display: flex;
                flex-direction: column;
                align-items: start;
                row-gap: get-vw(18px, 320);
                max-width: get-vw(300px, 320);
                margin-top: get-vw(45px, 320);
            }
        
            &__test {
                display: flex;
                justify-content: center;
                align-items: center;
                width: get-vw(70px, 320);
                height: get-vw(26px, 320);
        
                text-transform: uppercase;
                font-size: get-vw(15px, 320);
                color: var(--color-grean);
                font-weight: 400;
                border: get-vw(2px, 320) solid var(--color-grean);
                border-radius: get-vw(34px, 320);
                
            }   
        
            &__title {
                width: get-vw(288px, 320);
                font-size: get-vw(18px, 320);
                font-weight: 500;
            }

            &__description {
                width: get-vw(290px, 320);
                font-size: get-vw(11px, 320);
                p:where(:not([class]):not(:last-child)) {
                    margin-bottom: get-vw(12px, 320);
                }
            }
            .button__grean {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background: var(--color-grean);
                color: var(--color-ligth);
                border: none;
                cursor: pointer;
                min-width: get-vw(206px, 320);
                height: get-vw(30px, 320);
                transition: var(--transition-duration);
                border-radius: get-vw(29px, 320);
                font-size: get-vw(16px, 320);
            }
        }  
        .container {
            width: get-vw(300px, 320); 
        }
    }


}