@import '../globals';


@function get-vw($fontSize, $vw-viewport){
    $vw-context: $vw-viewport * 0.01 * 1px;
    @return $fontSize / $vw-context * 1vw;
    @return $fontSize;
}



@media screen and (max-width:650px){

    .header {
        display: flex;
        justify-content: center;
        align-items: center;

        padding-top: 0.87rem;

        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__logo {
            width: 3.6rem;
            height: 0.8rem;
        }
        &__sber {
            width: 8.8rem;
            height: 1.5rem;
        }
        .container {
            width: 22.6rem; 
        }
    }

}