@function get-vw($fontSize, $vw-viewport){
    $vw-context: $vw-viewport * 0.01 * 1px;
    @return $fontSize / $vw-context * 1vw;
    @return $fontSize;
}



@media screen and (max-width:650px){

    .section__result {
        display: none;
        justify-content: center;
        align-items: flex-start;
    
        z-index: 10;
        color: #000000;
        position: relative;
        padding-bottom: 1.2rem;
        .result-bg {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%; 
            height: 100%; /* Растягиваем по высоте */
            object-fit: cover; /* Заполняет контейнер, сохраняя пропорции */
            z-index: -1; /* Отправляем изображение на задний план, если нужно */

        }
        .container__result {
            width: 22.6rem; 
            .section__body {
                margin-top: 4rem;
                .result {
                    display: none;
                    justify-content: space-between;
                    align-items: start;
                    flex-direction: row-reverse; 
                    flex-direction: column-reverse; 
                    &__img {
                        width: 20.6rem;
                        height: 20.8rem;
                    }
                    &__body {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        // row-gap: get-vw(22px, 393);
                        // max-width: get-vw(633px, 393);
                        // padding-top: get-vw(113px, 393);
                        .result__test { 
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 5.5rem;
                            height: 2.1rem;
                    
                            text-transform: uppercase;
                            font-size: 1rem;
                            color: var(--color-grean);
                            font-weight: 400;
                            border: 0.12rem solid var(--color-grean);
                            border-radius: 21rem;
                            margin-bottom: 1.1rem;

                        }
                    }
                    &__cicle {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
    
                        width: 18.6rem;
                        margin-bottom: 0.8rem;
                        &-img {
                            width: 3rem;
                            height: 3rem;
                        }   
                    }
                    &__title {
                        font-size: 1.3rem;
                        font-weight: 500;
                        margin-bottom: 0.8rem;
                    }
                    &__description {
                        max-width: 21.5rem;
                        font-size: 0.75rem;
                        margin-bottom: 1.3rem;
                    }
                    &__footer{
                        width: 21rem;
                        font-size: 0.43rem;
                        font-weight: 400;
                        padding-top: 0.8rem;
                        padding-bottom: 2.5rem;
                    }

                    .button__result {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        background: var(--color-grean);
                        color: var(--color-ligth);
                        border: 0.12rem solid var(--color-grean);
                        cursor: pointer;
                        min-width: 17.8rem;
                        height: 2.5rem;
                        transition: var(--transition-duration);
                        border-radius: 1.8rem;
                        font-size: 1rem;
                        margin-bottom: 0.8rem;
                    }
                    .button__return {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        background: inherit;
                        color: var(--color-grean);
                        border: 0.12rem solid var(--color-grean); 
                        cursor: pointer;
                        min-width: 16rem;
                        height: 2.3rem;
                        transition: var(--transition-duration);
                        border-radius: 1.8rem;
                        font-size: 1rem;
                        margin-bottom: 1.3rem;
                    }
                }   
                .result.show {
                    display: flex;
                }
            }
        }
        .result__info {
            position: absolute;
            bottom: get-vw(20px, 393);
            right: get-vw(20px, 393);
            .info-container {
                position: relative;
                display: inline-block;
                .result__info-btn {
                    width: get-vw(29px, 393);
                    height: get-vw(29px, 393);
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    z-index: 2;
                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
                  
                .result__info-block {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;

                    position: absolute;
                    left: get-vw(-180px, 393);
                    top:  get-vw(-25px, 393);
                    transform: translateY(-50%);
                    width: get-vw(175px, 393);
                    height: auto;
                    background-color: #fff;
                    padding: get-vw(7px, 393);;
                    font-size: get-vw(9px, 393);
                    color: #333;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s ease, visibility 0.3s ease;
                    border-radius: get-vw(10px, 393);
                    
                }
                .result__info-block.show {
                    opacity: 0.9;
                    visibility: visible;
                }
            }
        }
    }


    .item_desktop{
        display: none !important;
    }
}  

@import '../globals';