@import '../globals';


@function get-vw($fontSize, $vw-viewport){
    $vw-context: $vw-viewport * 0.01 * 1px;
    @return $fontSize / $vw-context * 1vw;
    @return $fontSize;
}



@media screen and (max-width:650px){

    .section__test {
        display: none;
        justify-content: center;
        align-items: flex-start;
    
        z-index: 10;
        color: #000000;
        position: relative;
        padding-bottom: 1.2rem;
        .test-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%; /* Растягиваем по ширине */
            height: 100%; /* Растягиваем по высоте */
            object-fit: cover; /* Заполняет контейнер, сохраняя пропорции */
            z-index: -1; /* Отправляем изображение на задний план, если нужно */
        }

        .container__test {
            width: 22.6rem; 
             
            .test {
                display: none;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                margin-top: 4rem;
                &__body {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                }
                &__img {
                    width: 15.6rem;
                    height: 15.8rem;
                    position: relative;
                }
    
                &__number {
                    font-size: 1rem;
                    color: var(--color-gray);
                    margin-bottom: 1.6rem;
                }
    
                &__text {
                    font-size: 0.87rem;
                    margin-bottom: 2.1rem;
                    span {
                        font-weight: 700;
                    }
                }   
    
                &__question {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    row-gap: 0.55rem;
                    margin-bottom: 1.8rem;
                    width: 21.8rem;
                }
                
                &__answer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    width: 22rem;
                    min-height: 2.8rem;
                    cursor: pointer;
                    
                    transition: background-color 0.5s ease, color 0.5s ease;
    
                    .num {
                        display: none;
                        justify-content: center;
                        align-items: center;
    
                        width: get-vw(59px, 393);
                        height: get-vw(59px, 393);
    
                        background: var(--color-gray);
                        border-radius: 50%;
    
                        color: var(--color-ligth);
                        font-size: get-vw(30px, 393);
                        transition: background-color 0.3s ease, color 0.3s ease;
                    }
                    button {
                        width: 21rem;
                        height: auto;
                    
                        border: 0.12rem solid var(--color-gray);
                        border-radius: 4rem;
                    
                        padding: 0.5rem 1.6rem 0.5rem 1.1rem;
                        background: inherit;
                        font-size: 0.5rem;
                        .text {
                            max-width: 16.5rem;
                            font-size: 0.7rem;
                        }
                        .text-content {
                            text-align: start;
                            border-top: get-vw(1px, 393) solid #fff;
                            margin-top: 0.25rem;
                            padding-top: 0.25rem;
                            color: #fff;
                            font-size: 0.5rem;
                            line-height: 1.1;
                            opacity: 0; /* Скрыт по умолчанию */
                            transition: background-color 1s ease-out opacity 1s ease-out;/* Плавное изменение фона */
                        }
                    }
                    /* Когда кнопка активирована */
                    button.active .text-content {
                        opacity: 1; /* Плавно отображается */
                        transform: translateY(0); /* Плавно появляется сверху */
                        color: #fff; /* Белый текст при активации */
                        
                    }
                    button.active {
                        border-radius: 1.8rem;
                        opacity: 1;
                        
                        color: #fff;
                        border: none;
                        transition: background-color 1s ease-out;/* Плавное изменение фона */
    
                    }    
                    /* Правильный ответ */
                    .correct {
                        background-color: var(--color-grean);
                        color: var(--color-ligth);
                    }
    
                    
                    .correct .num {
                        background-color: var(--color-grean); /* Кружок правильного ответа */
                    }
                    
                    /* Неправильный ответ */
                    .incorrect {
                        background-color: var(--color-malina);
                        color: var(--color-ligth);
                    }
                    
                    .incorrect .num {
                        background-color: var(--color-malina); /* Кружок неправильного ответа */
                    }
                    
                    /* Блокировка */
                    .disabled {
                        pointer-events: none;
                        opacity: 1; /* Блокируем кнопки и делаем их полупрозрачными */
                    }
                }

                .button__grey {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    background: var(--color-gray);
                    color: var(--color-ligth);
                    border: none;
                    cursor: pointer;
                    min-width: 12.3rem;
                    height: 2.3rem;
                    transition: var(--transition-duration);
                    border-radius: 1.8rem;
                    font-size: 0.85rem;
                    margin-bottom: 1.87rem;
                }
                .test__answer.selected {
                    align-items: flex-start;
                }
                .magic {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 19.5rem;
                    
                }
               
                .answer__true {
                    position: relative;
                    opacity: 1 !important;
                    z-index: 99;
             
                }
                .test__img-movie {
                    animation: fadeIn 1s ease-in forwards; /* Время и тип анимации */
                }
                .test__img-animation {
                    display: none;
                    width: 19rem;
                    height: 20rem;
                    position: absolute;
                    top: 3.75rem;
                    right: 3.75rem;
                    left: 0;
                    bottom: 0;
                    z-index: 10;
    
                    opacity: 0;
                    transform: scale(0);
                    animation: image-scale 1.3s ease-out forwards; /* Анимация появления */
                    animation-delay: 0.3s;
    
    
                }
                .test__img-confity {
                    display: none !important;
                    width: get-vw(656px, 393);
                    height: get-vw(626px, 393);
                    position: absolute;
                    top: get-vw(20px, 393);
                    right: 0;
                    left: 0;
                    bottom: 0;
                    z-index: 11;
    
                    opacity: 0;
                    transform: scale(0);
                    animation: confetti-scale 1.2s ease-out 0.8s forwards;
                }
                .test__img-animation1 {
                    width: 11rem;
                    height: 15rem;
                    top: get-vw(0px, 393);
                    left: 2.35rem;
                    img {
                        transform: rotate(10deg);
                    }
                }
                .test__img-animation2 {
                    width: 18rem;
                    height: 16rem;
                    top: get-vw(0px, 393);
                    left: -0.3rem;
                }
                .test__img-animation3 {
                    width: 19.4rem;
                    height: 20.3rem;
                    top: get-vw(0px, 393);
                    left: -2.5rem;
                }
                .test__img-animation4 {
                    width: 16.5rem;
                    height: 17rem;
                    top: get-vw(0px, 393);
                    left: -0.5rem;
                }
                .test__img-animation5 {
                    width: 15.3rem;
                    height: 15.9rem;
                    top: get-vw(0px, 393);
                    left: 0.6rem;
                }
                .select{
                    border-radius: 1.8rem;
                    color: var(--color-ligth);
                }
            }
    
    
            .test.show {
                display: flex;
            }
    
        }
    }
    
    
    
    @import '../globals';


}