@media screen and (min-width:650px){
    .section__result {
        display: none;
        justify-content: flex-start;
        align-items: center;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
               
        .result-bg {
            position: absolute;
            z-index: -1;
        }
        .container__result {
            width: get-vw(1341px, 1440);
            .section__body {
                .result {
                    display: none;
                    justify-content: space-between;
                    align-items: start;
                    &__img {
                        width: get-vw(710px, 1440);
                        height: get-vw(713px, 1440);
                    }
                    &__body {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        row-gap: get-vw(22px, 1440);
                        max-width: get-vw(633px, 1440);
                        padding-top: get-vw(113px, 1440);
                    }
                    &__cicle {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        width: get-vw(554px, 1440);
                        &-img {
                            width: get-vw(97px, 1440);
                            height: get-vw(97px, 1440);
                        }   
                    }
                    &__title {
                        font-size: get-vw(48px, 1440);
                        font-weight: 500;
                    }
                    &__description {
                        max-width: get-vw(633px, 1440);
                    }
                    &__button {
                        width: get-vw(210px, 1440);
                    }
                    &__footer{
                        width: get-vw(673px, 1440);
                        font-size: get-vw(9px, 1440);
                        font-weight: 400;
                        padding-top: get-vw(29px, 1440);
                        
                    }
                }   
                .result.show {
                    display: flex;
                }
            }
        }
        .result__info {
            position: absolute;
            bottom: get-vw(20px, 1440);
            right: get-vw(20px, 1440);
            .info-container {
                position: relative;
                display: inline-block;
                .info-btn {
                    width: get-vw(20px, 1440);
                    height: get-vw(20px, 1440);
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    z-index: 2;
                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
                  
                .info-block {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;

                    position: absolute;
                    left: get-vw(-180px, 1440);
                    top:  get-vw(-35px, 1440);
                    transform: translateY(-50%);
                    width: get-vw(175px, 1440);
                    height: auto;
                    background-color: #fff;
                    padding: get-vw(7px, 1440);;
                    font-size: get-vw(9px, 1440);
                    color: #333;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s ease, visibility 0.3s ease;
                    border-radius: get-vw(10px, 1440);
                    
                }
                .info-block.show {
                    opacity: 0.9;
                    visibility: visible;
                }
            }
        }
        
    }


   
    .item_mobile{
        display: none !important;
    }
    
}
@import '../globals';