
@media screen and (min-width:650px){
    .section__test {
        display: none;
        justify-content: flex-end;
        align-items: center;
    
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        
           
        .test-bg {
            position: absolute;
            z-index: -1;
        }
        .container__test {
            width: get-vw(1341px, 1440);
            .test {
                display: none;
                justify-content: space-between;
                align-items: center;
    
                &__body {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    row-gap: get-vw(46px, 1440);
                    max-width: get-vw(633px, 1440);
                }
                &__body_mini {
                    row-gap: get-vw(35px, 1440);
                }
                &__img {
                    width: get-vw(708px, 1440);
                    height: get-vw(713px, 1440);
                    position: relative;
                    
                }
    
                &__number {
                    color: var(--color-gray);
                }
                &__number_one {
                    margin-bottom: get-vw(-20px, 1440);
                }
    
                &__text {
                    font-size: get-vw(20px, 1440);
                    
                    span {
                        font-weight: 700;
                    }
                }   
    
                &__question {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    row-gap: get-vw(13px, 1440);
            
                }
    
                &__answer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    width: get-vw(595px, 1440);
                    min-height: get-vw(60px, 1440);
                    cursor: pointer;
                    
                    transition: background-color 0.5s ease, color 0.5s ease;
    
                    .num {
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        width: get-vw(59px, 1440);
                        height: get-vw(59px, 1440);
    
                        background: var(--color-gray);
                        border-radius: 50%;
    
                        color: var(--color-ligth);
                        font-size: get-vw(30px, 1440);
                        transition: background-color 0.3s ease, color 0.3s ease;
                    }
                    button {
                        width: get-vw(459px, 1440);
                        height: auto;
                    
                        border: get-vw(2px, 1440) solid var(--color-gray);
                        border-radius: get-vw(65px, 1440);
                    
                        padding: get-vw(10px, 1440) get-vw(39px, 1440) get-vw(10px, 1440) get-vw(29px, 1440);
                        background: inherit;

              
                        .text {
                            max-width: get-vw(390px, 1440);
                        }
                        .text-content {
                            text-align: start;
                            font-size: get-vw(11.5px, 1440);
                            border-top: get-vw(1px, 1440) solid #fff;
                            margin-top: get-vw(9px, 1440);
                            padding-top: get-vw(9px, 1440);
                            color: #fff;
                            
                            opacity: 0; 
                            transition: background-color 1s ease-out opacity 1s ease-out;/* Плавное изменение фона */

                        }
                    }
                    /* Когда кнопка активирована */
                    button.active .text-content {
                        opacity: 1; /* Плавно отображается */
                        transform: translateY(0); /* Плавно появляется сверху */
                        color: #fff; /* Белый текст при активации */
                    }
                    button.active {
                        border-radius: get-vw(30px, 1440);
                        opacity: 1;
                        
                        color: #fff;
                        border: none;
                        transition: background-color 1s ease-out;/* Плавное изменение фона */
                    }    
                    /* Правильный ответ */
                    .correct {
                        background-color: var(--color-grean);
                        color: var(--color-ligth);
                    }
    
                    
                    .correct .num {
                        background-color: var(--color-grean); /* Кружок правильного ответа */
                    }
                    
                    /* Неправильный ответ */
                    .incorrect {
                        background-color: var(--color-malina);
                        color: var(--color-ligth);
                    }
                    
                    .incorrect .num {
                        background-color: var(--color-malina); /* Кружок неправильного ответа */
                    }
                    
                    /* Блокировка */
                    .disabled {
                        pointer-events: none;
                        opacity: 1; /* Блокируем кнопки и делаем их полупрозрачными */
                    }
                }
                .test__answer_katan button{
                    padding: get-vw(18px, 1440) get-vw(39px, 1440) get-vw(18px, 1440) get-vw(29px, 1440);
                }
                .test__answer.selected {
                    align-items: flex-start;
                    
                }
                .magic {
                    position: absolute;
                    top: 0;
                    left: get-vw(65px, 1440);
                    width: get-vw(578px, 1440);
       
                }
                // .varfalse {
                //     opacity: 0.2 !important;
                // }
                .answer__true {
                    position: relative;
                    opacity: 1 !important;
                    z-index: 99;
                }
                .test__img-movie {
                    animation: fadeIn 1s ease-in forwards; /* Время и тип анимации */
                }
                .test__img-animation {
                    display: none;
                    width: get-vw(568px, 1440);
                    height: get-vw(589px, 1440);
                    position: absolute;
                    top: get-vw(60px, 1440);
                    right: get-vw(60px, 1440);
                    left: 0;
                    bottom: 0;
                    z-index: 10;
    
                    opacity: 0;
                    transform: scale(0);
                    animation: image-scale 1.3s ease-out forwards; /* Анимация появления */
                    animation-delay: 0.3s;
    
    
                }
                .test__img-confity {
                    display: none;
                    width: get-vw(656px, 1440);
                    height: get-vw(626px, 1440);
                    position: absolute;
                    top: get-vw(20px, 1440);
                    right: 0;
                    left: 0;
                    bottom: 0;
                    z-index: 5;
    
                    opacity: 0;
                    transform: scale(0);
                    animation: confetti-scale 1.2s ease-out 0.8s forwards;
                }
                .test__img-animation1 {
                    width: get-vw(321px, 1440);
                    height: get-vw(457px, 1440);
                    top: get-vw(90px, 1440);
                    left: get-vw(190px, 1440);
                    img {
                        transform: rotate(10deg);
                    }
                }
                .test__img-animation2 {
                    width: get-vw(446px, 1440);
                    height: get-vw(400px, 1440);
                    top: get-vw(130px, 1440);
                    left: get-vw(120px, 1440);
                }
                .test__img-animation3 {
                    width: get-vw(446px, 1440);
                    height: get-vw(448px, 1440);
                    top: get-vw(130px, 1440);
                    left: get-vw(120px, 1440);
                }
                .test__img-animation4 {
                    width: get-vw(448px, 1440);
                    height: get-vw(446px, 1440);
                    top: get-vw(130px, 1440);
                    left: get-vw(120px, 1440);
                }
                .test__img-animation5 {
                    width: get-vw(448px, 1440);
                    height: get-vw(486px, 1440);
                    top: get-vw(130px, 1440);
                    left: get-vw(120px, 1440);
                }
                .select{
                    border-radius: get-vw(30px, 1440);
                    color: var(--color-ligth);
                }
            }
    
    
            .test.show {
                display: flex;
            }
    
        }
    }
}


@import '../globals';