body {
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: get-vw(16px, 1440);
    line-height: 1.28;
    color: var(--color--dark);
    background-color: var(--color-ligth);
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: 100%;
}

@function get-vw($fontSize, $vw-viewport){
    $vw-context: $vw-viewport * 0.01 * 1px;
    @return $fontSize / $vw-context * 1vw;
    @return $fontSize;
}

.container {
    width: get-vw(1370px, 1440);
}

.button__grean {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--color-grean);
    color: var(--color-ligth);
    border: none;
    cursor: pointer;
    min-width: get-vw(313px, 1440);
    height: get-vw(37px, 1440);
    transition: var(--transition-duration);
    border-radius: get-vw(29px, 1440);
}

.button__grey {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--color-gray);
    color: var(--color-ligth);
    border: none;
    cursor: pointer;
    min-width: get-vw(313px, 1440);
    height: get-vw(37px, 1440);
    transition: var(--transition-duration);
    border-radius: get-vw(29px, 1440);
}

.button:hover {
    opacity: .8;
}

.test__answer-grey {
    width: get-vw(459px, 1440);
    height: auto;

    border: get-vw(2px, 1440) solid var(--color-gray);
    border-radius: get-vw(65px, 1440);

    padding: get-vw(10px, 1440) get-vw(29px, 1440);
}
