:root {
    --color-grean: #3DAC51;
    --color--dark: #000000;
    --color-gray: #787878;
    --color-malina: #B40057;
    --color-ligth: #ffffff;

    --border: 2px solid #787878;
    --border-radius: 65px;
    --border-radius-active: 30px;
    --border-radius-btn: 29px;

    --font-family-base: 'Montserrat', sans-serif;

    --container-width: 1307px;

    --transition-duration: 0.2s;
}